<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <connectionStrings>

    <add name="DefaultDb" connectionString="Data Source=127.0.0.1;Initial Catalog=zhuangdb2;Persist Security Info=True;User ID=sa; PassWord=zwb" providerName="sqlserver"/>

    <!--<add name="DefaultDb" connectionString="Data Source=192.168.126.131;Initial Catalog=zhuangdb;Persist Security Info=True;User ID=root; PassWord=2681645;Charset=utf8"
         providerName="MySql"/>-->

  </connectionStrings>
  

  
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
