<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body class="easyui-layout" fit="true">
    
    <div style="margin-top:10px;">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
