
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Main_Tab.cshtml";
}

@section scripts{

    <script type="text/javascript">

        jQuery("#treeMenu").tree({
            url: '@Url.Content("~/SecuritySettings/Menu/GetMenus")',
            onClick: function (node) {
                debugger;
                jQuery("#iframe1").attr("src", '@Url.Content("~/SecuritySettings/Menu/List")?ParentId=' + node.id)
            }
        });

    </script>
}


<div class="easyui-layout" fit="true">
    <div data-options="region:'west',split:true" title="菜单树" style="width:200px;">
        <ul id="treeMenu"></ul>
    </div>
    <div data-options="region:'center'" style="overflow-y:hidden;">
        <iframe id="iframe1" frameborder="0"
                style="height:100%;width:100%" src='@Url.Content("~/SecuritySettings/Menu/List")'>
        </iframe>
    </div>
</div>