<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command key="SecuritySettings.Menu.List">
    <![CDATA[
SELECT  a.MenuId ,
        a.ParentId ,
        a.Name ,
        a.Url ,
        a.[Seq] ,
        a.IsExpand ,
        a.Status ,
        a.CreatedById ,
        a.ModifiedById ,
        a.CreatedDate ,
        a.ModifiedDate FROM dbo.Sec_Menu a
WHERE a.ParentId=#ParentId#
{?and a.Name like '%'+#Name#+'%'}
    ]]>
  </command>

  <command key="SecuritySettings.Menu.GetTree">
    <![CDATA[
    SELECT  a.MenuId ,
            a.ParentId ,
            a.Name ,
            a.Url ,
            a.[Seq] ,
            a.IsExpand
    FROM dbo.Sec_Menu a
    WHERE a.Status=1
    UNION ALL
    SELECT '-1' ,NULL,'功能菜单','',0,1
    ]]>
  </command>
</commands>
