<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command key="SecuritySettings.Organization.List">
    <![CDATA[
SELECT  a.OrganizationId ,
        a.ParentId ,
        a.Name ,
        a.Code ,
        a.FullName ,
        a.Level ,
        a.Seq,
        a.RecordStatus ,
        a.CreatedById ,
        a.ModifiedById ,
        a.CreationDate ,
        a.ModifiedDate
FROM Sec_Organization a
WHERE a.ParentId=#ParentId#
{?AND a.Name LIKE CONCAT('%',#Name#,'%')}
    ]]>
  </command>

  <command key="SecuritySettings.Organization.GetTree">
    <![CDATA[
SELECT  a.OrganizationId ,
        a.ParentId ,
        a.Name ,
        a.Seq
FROM Sec_Organization a
UNION ALL
SELECT '-1' ,NULL,'组织架构',0
    ]]>
  </command>
</commands>
