<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command key="SecuritySettings.User.List">
    <![CDATA[
SELECT  a.UserId ,
        a.LoginName ,
        a.Password ,
        a.Name ,
        --a.Sex ,
        case when a.Sex='F' then '女' when a.Sex='M'  then '男' else '' end as Sex,
        a.Birthday ,
        a.MobilePhone ,
        a.Telephone ,
        a.Email ,
        a.OrganizationId ,
        a.Status ,
        a.CreatedById ,
        a.ModifiedById ,
        a.CreatedDate ,
        a.ModifiedDate
FROM    dbo.Sec_User a
WHERE   a.Status<>-1
{?and a.LoginName like '%'+#LoginName#+'%'}
{?and a.Name like '%'+#Name#+'%'}
{?and a.Sex=#Sex#}
    ]]>
  </command>

  <command key="SecuritySettings.User.CountByLoginName">
  <![CDATA[
  SELECT COUNT(*) FROM dbo.Sec_User
  WHERE LoginName=#LoginName# AND Status=#Status#
  ]]>
  </command>

</commands>
