<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command key="SecuritySettings.User.List">
    <![CDATA[
SELECT  a.UserId ,
        a.LoginName ,
        a.Password ,
        a.Name ,
        a.Sex ,
        a.Birthday ,
        a.MobilePhone ,
        a.Telephone ,
        a.Email ,
        a.OrganizationId ,
        a.RecordStatus ,
        a.CreatedById ,
        a.ModifiedById ,
        a.CreationDate ,
        a.ModifiedDate
FROM    dbo.Sec_User a
WHERE   a.RecordStatus<>'Deleted'
{?and a.LoginName like '%'+#LoginName#+'%'}
{?and a.Name like '%'+#Name#+'%'}
{?and a.Sex=#Sex#}
    ]]>
  </command>
</commands>
