<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command key="Security.Menu.GetMenuById">
    <![CDATA[
SELECT  a.MenuId ,
        a.ParentId ,
        a.Name ,
        a.Url ,
        a.Order,
        a.IsExpand ,
        a.RecordStatus ,
        a.CreatedById ,
        a.ModifiedById ,
        a.CreationDate ,
        a.ModifiedDate FROM Sec_Menu a
WHERE a.MenuId=#MenuId#
    ]]>
  </command>

  <command key="Security.Menu.Insert">
  <![CDATA[
  Insert into Sec_Menu(MenuId,ParentId,`Name`,Url,`Order`,IsExpand,RecordStatus,
  CreatedById,ModifiedById,CreationDate,ModifiedDate)
  values(#MenuId#,#ParentId#,#Name#,#Url#,#Order#,#IsExpand#,#RecordStatus#,
  #CreatedById#,#ModifiedById#,#CreationDate#,#ModifiedDate#)
  ]]>
  </command>
  
  <command key="Security.Menu.Delete">
  <![CDATA[
  Delete From Sec_Menu where MenuId=#MenuId#
  ]]>
  </command>

</commands>
