<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command key="Security.Organization.GetOrganizationById">
    <![CDATA[
SELECT  a.OrganizationId ,
        a.ParentId ,
        a.Name ,
        a.Code ,
        a.FullName ,
        a.Level ,
        a.[Seq] ,
        a.RecordStatus ,
        a.CreatedById ,
        a.ModifiedById ,
        a.CreationDate ,
        a.ModifiedDate 
FROM dbo.Sec_Organization a
WHERE a.OrganizationId=#OrganizationId#
    ]]>
  </command>

  <command key="Security.Organization.Insert">
    <![CDATA[
    INSERT dbo.Sec_Organization
        ( OrganizationId ,
          ParentId ,
          Name ,
          Code ,
          FullName ,
          Level ,
          [Seq] ,
          RecordStatus ,
          CreatedById ,
          ModifiedById ,
          CreationDate ,
          ModifiedDate
        )
VALUES  ( #OrganizationId# ,
          #ParentId# ,
          #Name# ,
          #Code# ,
          #FullName# ,
          #Level# ,
          #Seq# ,
          #RecordStatus# ,
          #CreatedById# ,
          #ModifiedById# ,
          #CreationDate# ,
          #ModifiedDate#
        )
  ]]>
  </command>


  <command key="Security.Organization.Delete">
    <![CDATA[
  Delete From Sec_Organization where OrganizationId=#OrganizationId#
  ]]>
  </command>
</commands>
