<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command key="Security.Role.Get">
    <![CDATA[
    
    SELECT  a.RoleId ,
        a.Name ,
        a.Description ,
        a.RecordStatus ,
        a.CreatedById ,
        a.ModifiedById ,
        a.CreationDate ,
        a.ModifiedDate 
        FROM dbo.Sec_Role a
WHERE a.RoleId=#Id#
    
    ]]>
  </command>


  <command key="Security.Role.GetBy">
    <![CDATA[
    
    ]]>
  </command>
</commands>
