<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command key="Security.User.GetUserById">
    <![CDATA[
SELECT  a.UserId ,
        a.LoginName ,
        a.Password ,
        a.Name ,
        a.Sex ,
        a.Birthday ,
        a.MobilePhone ,
        a.Telephone ,
        a.Email ,
        a.OrganizationId ,
        a.RecordStatus ,
        a.CreatedById ,
        a.ModifiedById ,
        a.CreationDate ,
        a.ModifiedDate
FROM    Sec_User a
WHERE   a.UserId = #UserId#
    ]]>
  </command>


  <command key="Security.User.GetUserBy">
    <![CDATA[
SELECT
        a.UserId ,
        a.LoginName ,
        a.Password ,
        a.Name ,
        a.Sex ,
        a.Birthday ,
        a.MobilePhone ,
        a.Telephone ,
        a.Email ,
        a.OrganizationId ,
        a.RecordStatus ,
        a.CreatedById ,
        a.ModifiedById ,
        a.CreationDate ,
        a.ModifiedDate
FROM  Sec_User a
WHERE  1=1 
{?and a.UserId = #UserId#}
{?and a.LoginName = #LoginName#}
{?and a.RecordStatus = #RecordStatus#}
    ]]>
  </command>
</commands>
