
@{
    ViewBag.Title = "Tree";
    Layout = "~/Views/Shared/_Layout_Main_Tab_Dialog.cshtml";
}



@section scripts{

    <script type="text/javascript">
        var id = '@Request.QueryString["id"]';
        var single = '@Request.QueryString["single"]';
        if (single == 'y' || single == 'Y') single = true; else single = false;

        jQuery("#treeLeft").tree({
            url: '@Url.Content("~/Common/EasyUI/GetTree")' + "?sql=" + '@Request.QueryString["sql"]',
            //cascadeCheck: true,
            //onlyLeafCheck: true,
            //checkbox:true,
            onClick: function (node) {
                var children = node.children;
                if (children.length != 0)
                    return;

                var id = node.id;
                var text = node.text;

                var tempRow = { value: id, text: text };
                var rowIndex = jQuery("#ulSselected").datalist("getRowIndex", id);
                if (single) {
                    jQuery("#ulSselected").datalist("loadData", { total: 0, rows: [] });
                    jQuery("#ulSselected").datalist("appendRow", tempRow);
                }
                else {
                    if (rowIndex == -1) {
                        jQuery("#ulSselected").datalist("appendRow", tempRow);
                    }
                }
            }
        });

        function f_OK() {
            var rows = jQuery("#ulSselected").datalist("getRows");
            
            if (f_TreeOK) f_TreeOK(id, rows);

            f_CloseDialog(2);
        }

    </script>
}

<div class="easyui-layout" fit="true">

    <div data-options="region:'west',split:true" style="width:50%;">
        <ul id="treeLeft"></ul>
    </div>

    <div data-options="region:'center',split:true" style="width:50%;">
        <ul class="easyui-datalist" id="ulSselected" data-options="idField:'value'"></ul>
    </div>
</div>

