
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Layout_Main_Tab_Dialog.cshtml";
}


@section scripts{

    <script type="text/javascript">

        jQuery("#treeLeft").tree({
            url: '@Url.Content("~/SecuritySettings/Organization/GetTree")',
            onClick: function (node) {

            }
        });

    </script>
}


<div data-options="region:'north'" style="height:220px;">
    <ul id="treeLeft"></ul>
</div>
<div data-options="region:'center'">
    <div style="text-align:center;height:50px;margin:5px;border:1px solid #808080">
    </div>
</div>