
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Layout_Main_Tab_Dialog.cshtml";
}


@section scripts{

    <script type="text/javascript">

        jQuery("#treeLeft").tree({
            url: '@Url.Content("~/SecuritySettings/Organization/GetTree")',
            onClick: function (node) {

            }
        });

    </script>
}


<div data-options="region:'north'" style="width:200px;">
    <ul id="treeLeft"></ul>
</div>
<div data-options="region:'center'" style="overflow-y:hidden;">
    AAA
</div>